
@{
    ViewBag.Title = "Home";
}

<h2>Usage</h2>
<ol>
    <li>Download <a href="~/Client/WebHookerClient.exe" title="WebHookerClient">webhookerclient.exe</a></li>
    <li>
        Run it from Command Line:
        <pre>WebHookerClient -t http://localhsot:123</pre>
    </li>
</ol>
<h2>Source Code</h2>
<p>
    Available on GitHub: <a href="https://github.com/michaltalaga/WebHooker">here</a>
</p>